# Auto detect text files and normalize line endings
* text=auto

# JavaScript
*.js text eol=lf
*.json text eol=lf

# Markdown
*.md text eol=lf

# SQL
*.sql text eol=lf

# Shell scripts
*.sh text eol=lf

# Docker
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Env files
.env* text eol=lf

# Documentation
*.txt text eol=lf
